@layer fonts {
  /* rubik-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('/public/fonts/rubik-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* archivo-black-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: url('/public/fonts/archivo-black-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    --fs-15: calc(15 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-40: calc(40 / 16 * 1rem);
    --fs-54: calc(54 / 16 * 1rem);
  }
}

@layer global {
  body {
    margin: 0;
    font-family: 'Rubik';
    font-size: var(--fs-15);
  }

  h1 {
    font-family: 'Archivo Black';
    font-size: var(--fs-40);
    margin: 0;

    @media (width > calc(1000 / 16 * 1rem)) {
      font-size: var(--fs-54);
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: var(--f-white);
    @media (width < calc(800 / 16 * 1rem)) {
      color: var(--f-black);
    }
  }

  .background-blue {
    background-color: var(--f-blue);
  }
}

@layer color {
  :root {
    --f-blue: hsl(200, 90%, 35%);
    --f-white: hsl(0, 0%, 100%);
    --c-dark-overlay: hsla(0, 0%, 0%, 0.75);
    --f-black: hsl(0, 0%, 0%);
  }
}

@layer layout {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr calc(100% - 32px) 1fr;
    > * {
      grid-column: 2;
    }

    @media (width > calc(800 / 16 * 1rem)) {
      grid-template-columns: 1fr calc(100% - 64px) 1fr;
    }
  }
}

@layer navbar {
  .navbar, .nav-brand, .nav__links-content, .nav-profile, .topnav__open, .topnav__close {
    grid-row: 1;
  }

  .nav-brand {
    display: flex;
    gap: 1rem;

    @media (width < calc(800 / 16 * 1rem)) {
      grid-column: 1;
      justify-self: center;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--f-white);
    padding: 5px 0;

    @media (width < calc(800 / 16 * 1rem)) {
      display: grid;
      justify-content: normal;
    }
  }

  .nav-profile {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--f-white);

    @media (width < calc(800 / 16 * 1rem)) {
      grid-column: 1;
      justify-self: end;
    }
  }

  .profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .username {
    display: none;
    @media (width > calc(800 / 16 * 1rem)) {
      display: block;
    }
  }

  .nav__links{
    display: flex;
    gap: 2rem;
    font-size: var(--fs-18);

    @media (width < calc(800 / 16 * 1rem)) {
      position: fixed;
      flex-direction: column;
      inset: 54px 30% 0 0;
      padding: 27px 19px 24px;
      opacity: 0;
      z-index: 1;
      background-color: var(--f-white);
    }
  }

  .nav__link.active{
    font-weight: bold;
  }
}

@layer hamburger {

  .topnav__open {
    display: none;
    background-color: transparent;
    border: none;
    z-index: 1;
    @media (width < calc(800 / 16 * 1rem)) {
      display: block;
      justify-self: start;
    }
  }

  .nav__links-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .topnav__open[aria-expanded="true"] ~ .nav__links-content::before {
    content: "";
    position: fixed;
    inset: 52px 0 0 0;
    z-index: -1;
    opacity: 0;
    background-color: var(--c-dark-overlay);

    @media (width < calc(800 / 16 * 1rem)) {
      opacity: 1;
    }
  }

  .topnav__open[aria-expanded="true"] ~ .nav__links-content > .nav__links {
    opacity: 1;
  }
 
  .topnav__open[aria-expanded="true"]{
    display: none;
  }

  .topnav__open[aria-expanded="true"] + .topnav__close {
    display: block;
  }

  .topnav__close {
    border: none;
    background-color: transparent;
    display: none;
    z-index: 1;

    @media (width < calc(800 / 16 * 1rem)) {
      justify-self: start;
    }
  }
}